/****************************************/
/* SKILLS SUB-SECTION */
/****************************************/

.skills {
  /* position: absolute; */
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding: 2.4rem 6.4rem;
  gap: 3.2rem;
}

.col-skill {
  /* margin-bottom: 3.2rem; */
  box-shadow: 0 0 5rem 5rem rgba(0, 0, 0, 0.03);
  padding: 1.2rem;
  border-radius: 9px;
  /* width: 100%; */
  height: 100%;
  background-color: #fff;
}
.list-heading {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
  text-decoration: overline;
  line-height: 1.6;
}

.skill-list {
  list-style: none;
}

.skill-item {
  font-size: 1.4rem;
}

.footer .social {
  flex-direction: column;
  justify-self: start;
  margin-top: 0;
  position: relative;
}

.footer .social-links:hover,
.footer .social-links:active {
  box-shadow: inset 0 0 99rem #063943;
  color: #fff;
  transition: all 1s ease;
  transform: rotate(360deg);
}

.footer-dropdown {
  position: relative;
}

.footer-dropdown-box {
  /* display: none; */
  position: absolute;
  top: 40%;
  left: 8rem;
  width: 15rem;
}

.lets-connect {
  position: absolute;
  top: auto;
  left: 0;
  right: 0;
  z-index: -1;
  bottom: -30rem;
}

.lets-connect-text {
  color: #e9e9e9;
  font-size: 20rem;
  line-height: 1;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  display: inline-block;
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #0b7285;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #095b6a;
  text-decoration: none;
  transform: scale(1.1);
  transition: all 0.3s;
}

.about-img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  position: relative;
}

/* IN CASE WE WANT CIRCLES AROUND THE IMAGE */
.about-img-box::before,
.about-img-box::after {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.about-img-box::before {
  width: 170%;
  padding-bottom: 170%;
  background-color: #9dc7ce;
  z-index: -2;
}

.about-img-box::after {
  width: 130%;
  padding-bottom: 130%;
  background-color: #cee3e7;
  z-index: -1;
}

.experience {
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-columns: 20fr 45fr 35fr;
  grid-template-rows: 1fr 1fr 1fr;

  padding: 2.4rem 6.4rem;
  padding-bottom: 0;
  padding-top: 0;
}

.experience-text-box {
  grid-column: span 2;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  border-bottom: solid 0.2rem #042e35;
}

.experience-company {
  font-size: 3.6rem;
  font-weight: 500;
}
.experience-job {
  font-size: 1.6rem;
}
.experience-date {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-row: 2/3;

  font-size: 2rem;
  font-weight: 500;

  background-color: #042e35;
  color: #cee3e7;

  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}

.experience-description {
  display: flex;
  align-items: center;
  padding: 0 3.2rem;

  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.6;

  grid-row: 3/4;
  grid-column: span 2;
}

.company-logo-link {
  display: inline-block;
  grid-row: 3/4;
  grid-column: 1/2;
}

.company-logo {
  width: 20rem;
  border-bottom-left-radius: 9px;
  border-bottom-right-radius: 9px;
}
